@import "../../../src/sass/variables.scss";

.Overview {
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 2 * $offsetWidth;
    font-size: 4 * $offsetWidth;;

    .back {
        background: none;
        border: none;
        outline: none;
        color: inherit;
        cursor: pointer;
    }
}

