@import "../../sass/variables.scss";

.segment-container {
    border-left: 1px solid $black;
    padding: 3 * $offsetWidth;;
    margin: 3 * $offsetWidth;;
  }
  
  .Segment {
    border-left: 4px solid;
    padding: 0 12px 10px;
    position: relative;
    margin: 0;
    &::before, &::after {
      font-family: "FontAwesome";
      font-size: 18px;
      left: -2 * $offsetWidth;;
      position: absolute;
      top: 0;
    }
    &::before {
      content: "\F0C8";
      color: $lightgray;
      font-size: 23px;
      top: -3px;
      left: -12px;
    }
    &::after {
      content: "\F10C";
    }
    &.active::after {
      content: "\F111";
    }
    > {
      .info {
        border: 1px solid;
        color: $white;
        margin: $offsetWidth 0 0;
        padding: 2 * $offsetWidth 2 * $offsetWidth 2 * $offsetWidth 8 * $offsetWidth;
        position: relative;
        &::before {
          font-family: "FontAwesome";
          font-weight: 4 * $offsetWidth;
          left: 2 * $offsetWidth;
          position: absolute;
        }
        &.ground {
          background: $darkblue;
          &::before {
            content: "\F1B9";
          }
        } 
        &.airport {
          background: $blue;
          &::before {
            content: "\F1AD";
          }
          .busy-indicator {
            color: $orange;
            font-size: 14px;
            position: absolute;
            bottom: 2 * $offsetWidth;
            right: 2 * $offsetWidth;
            line-height: 4 * $offsetWidth;
            vertical-align: top;
            .fa {
              font-size: 70%;
              display: inline-block;
              line-height: 18px;
              vertical-align: inherit;
              padding-right: 4px;
            }
          }
        }
      }
      .flight {
        border: 1px solid;
        > div {
          border-top: 1px solid;
          padding: $offsetWidth;
        }
        :first-child {
          border-top: none;
        }
        span {
          padding: $offsetWidth;
        }
        .header {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          background: blue;
          color: white;
        }
        .body {
          font-size: 150%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          background: #fff;
        }
        .footer {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          .on-time {
            background-color: lightgreen;
          }
        }
      }
    }
  }