@import "../../sass/variables.scss";

.Itinerary {
    padding: 0 4 * $offsetWidth 0 8 * $offsetWidth;;
    .from-to {
        font-size: 34px;
        margin: 20px 0;
    }
    .segment-list {
        list-style-type: none;
        margin: 0 0 0 -12px;
        padding: 0;
    }
}

